Source: elasticsearch-srv-discovery
Section: java
Priority: extra
Version: [[version]]
Maintainer: smo@tradeshift.com
Homepage: https://github.com/Tradeshift/elasticsearch-srv-discovery
Vcs-Git: git@github.com:Tradeshift/elasticsearch-srv-discovery.git
Vcs-Browser: https://github.com/Tradeshift/elasticsearch-srv-discovery
Package: elasticsearch-srv-discovery
Architecture: all
Conflicts:
Replaces:
Description: [[description]]
Depends: elasticsearch (= 0.90.11)